.header{
     display: flex;
     align-items: center;
     justify-content: space-around;
    &-title{
        font-size: 30px;
    }
    &-nav{
        gap: 10px;
        display: flex;
        gap: 10px;

        &-btn{
            padding: 5px 10px;
        }
    }
}